<div class="rating">
	<div class="rating-stars">
		<%=
			out_stars = ""
			case @place.rating.to_i
			when 0..17:
				5.times { out_stars += image_tag "icons/small/silk/bullet_yellow.png", :alt => "o", :class => "inline" }
			when 18..35:
				1.times { out_stars += image_tag "icons/small/silk/star.png", :alt => "*", :class => "inline" }
				4.times { out_stars += image_tag "icons/small/silk/bullet_yellow.png", :alt => "o", :class => "inline" }
			when 36..53:
				2.times { out_stars += image_tag "icons/small/silk/star.png", :alt => "*", :class => "inline" }
				3.times { out_stars += image_tag "icons/small/silk/bullet_yellow.png", :alt => "o", :class => "inline" }
			when 54..71:
				3.times { out_stars += image_tag "icons/small/silk/star.png", :alt => "*", :class => "inline" }
				2.times { out_stars += image_tag "icons/small/silk/bullet_yellow.png", :alt => "o", :class => "inline" }
			when 72..89:
				4.times { out_stars += image_tag "icons/small/silk/star.png", :alt => "*", :class => "inline" }
				1.times { out_stars += image_tag "icons/small/silk/bullet_yellow.png", :alt => "o", :class => "inline" }
			when 89..100:
				5.times { out_stars += image_tag "icons/small/silk/star.png", :alt => "*", :class => "inline" }
			else
				puts "place rating = #{@place.rating.to_i}"
			end
			out_stars
		%>
	</div>
	<div class="rating-controls">
		<% my_rating = Relationship.find(:first, :conditions => ["source_uuid = ? AND target_uuid = ? AND relationship IN ('like','dislike')", @fbuser.uuid, @place.uuid]) %>
		<% if my_rating.nil? %>
			<div class="thumbs">
				<%= link_to image_tag("icons/large/thumb-up.png", :alt => "Like", :class => "inline"),		@place.url(:facebook => true, :action => :like) %>
				<%= link_to image_tag("icons/large/thumb-down.png", :alt => "Dislike", :class => "inline"),	@place.url(:facebook => true, :action => :dislike) %>	
			</div>
		<% else %>
			<div class="result-<%= my_rating.relationship %>">
				<p>You <strong><%= my_rating.relationship %></strong> this place.</p>
				<% if my_rating.relationship == "like" %>
					<%= image_tag "icons/large/thumb-up.png", :alt => "Like" %>
				<% else %>
					<%= image_tag "icons/large/thumb-down.png", :alt => "Dislike" %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
