<% viewmode = :compact if local_assigns[:viewmode].nil? %>
<% url = nil if local_assigns[:url].nil? %>

<% if viewmode == :micro %>
	<% if url.nil? %>
		<li>Comments (<%= comments.comments.count %>)</li>
	<% else %>
		<li><%= link_to "Comments (#{comments.comments.count})", url %></li>
	<% end %>
<% elsif viewmode == :compact %>
	<% if comments.comments.count > 0 %>
		<div class="comments">
			<%= render :partial => "comments/comment", :locals => { :comment => comments.comments[0] } %>
		</div>
	<% else %>
		<p>There are no comments on this wall.</p>
	<% end %>
<% elsif viewmode == :full %>
	<% if comments.comments.count > 0 %>
		<div class="comments">
			<%= render :partial => "comments/form" %>
			<%= render :partial => "comments/comment", :collection => comments.comments %>
		</div>
	<% else %>
		<p>There are no comments on this wall.</p>
	<% end %>
<% end %>
