<div class="colgroup">
    <div class="column width4 first">
	<h2>Installed Objects</h2>

	<% @data_objects.each do |obj| %>
	    <h3><a href="<%= items_path(obj.object_type) %>"><%=h obj.title.nil? ? obj.object_type : obj.title %></a></h3>
		<h4>Fields</h4>
		<table class="no-style full">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Required</th>
				</tr>
			</thead>
			<tbody>
				<% obj.fields.each do |field| %>
					<tr>
						<td>
							<% if field[3] %>
								<% if field[3].is_a?(Hash) %>
									<%= h field[3]["title"] %>
								<% else %>
									<%= h field[3] %>
								<% end %>
							<% else %>
								<%= h field[0] %>
							<% end %>
						</td>
						<td>
							<% if field[1] == "String" %>
								Alphanumeric text
							<% elsif field[1] == "Hash" %>
								Key-value list
							<% elsif field[1] == "Time" %>
								Time/date
							<% elsif field[1] == "Float" %>
								Number (with decimals)
							<% elsif field[1] == ["Float"] %>
								List of numbers (with decimals)
							<% elsif field[1] == ["String"] %>
								List of alphanumeric text items
							<% else %>
								<%= h field[1] %>
							<% end %>
						</td>
						<td>
							<% if field[2] %>
								Yes
							<% else %>
								No
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
    </div>
    <div class="column width4">
	<h2>Welcome, Admin.</h2>
	<p>
	    Select an object type on the left to get started, or choose from this list of
	    items that are at the root:
	</p>
	<ul>
	    <% @root_items.each do |i| %>
		<li><a href="<%= item_path(i) %>"><%=h i.title %></a> (<%=h i.class.to_s %>)</li>
	    <% end %>
	</ul>
    </div>
</div>