<% if state.children.size > 1 %>
	<li<%= cycle("", ' class="even"') %>><%= link_to state.name, country_state_path(state.parent.url_part, state.url_part) %> (<%= state.children.size %> cities)</li>
<% elsif state.children.size == 1 %>
	<li<%= cycle("", ' class="even"') %>><%= link_to state.name, country_state_path(state.parent.url_part, state.url_part) %> (<%= state.children.size %> city)</li>
<% else %>
	<li<%= cycle("", ' class="even"') %>><%= link_to state.name, country_state_path(state.parent.url_part, state.url_part) %></li>
<% end %>

