<% viewmode = :compact if local_assigns[:viewmode].nil? %>

<% if viewmode == :micro %>
	<li class="vevent<%= " #{css_class}" if local_assigns[:css_class] %>"><%= link_to h(event.summary), "#", :class => "summary" %></li>
<% elsif viewmode == :compact %>
    <%
	start_time = Time.parse(event.start_time).getlocal
	if event.end_time.nil?
	    end_time = nil
	else
	    end_time = Time.parse(event.end_time).getlocal
	end
    %>
    <% if (!end_time.nil? && end_time > Time.now) || end_time.nil? %>
	<li class="vevent <%= cycle("odd", "even") %>">
	    <span class="comment">
		<%= link_to h(event.event_type), country_region_locality_events_path(@country, @region, @locality, :neighborhood => params[:neighborhood], :event_type => h(event.event_type)) %>
		<span class="filtericon"></span>
	    </span>
	    <span class="summary">
		<% if params[:upupdowndownleftrightleftrightbastart] %>
		    <%= link_to h(event.title), edit_country_region_locality_event_path(country.id, region.id, locality.id, event.id) %>
		<% else %>
		    <%= link_to h(event.title), country_region_locality_event_path(country.id, region.id, locality.id, event.id) %>
		<% end %>
	    </span>
	    <span class="timeloc">
		<% if local_assigns[:place_page].nil? %>
		    <span class="location">
			<% parent = DataObject.view("by_path", :startkey => event.parent, :limit => 1, :reduce => false, :include_docs => true) %>
			<% if parent.length == 1 %>
			    <% if parent[0]["couchrest-type"] == "Place" %>
				<%= link_to h(parent[0]["title"]), country_region_locality_place_path(country.id, region.id, locality.id, parent[0].id) %>
			    <% else %>
				<!--
				    PARENT FOR <%= h(event.id) %> IS NOT A PLACE
				    <%= parent.inspect %>
				-->
			    <% end %>
			<% end %>
		    </span>
		<% end %>
		<span class="time">
		    <% if start_time.day == Time.new.day || start_time.day == (Time.new - 4.hours).day %>
			<%= content_tag :abbr, h(start_time.min == 0 ? start_time.strftime("%l%P") : start_time.strftime("%l:%M%P")), :class => "dtstart", :title => start_time.iso8601 %>
		    <% elsif start_time < 1.week.from_now %>
			<%= content_tag :abbr, h(start_time.min == 0 ? start_time.strftime("%a @ %l%P") : start_time.strftime("%a @ %l:%M%P")), :class => "dtstart", :title => start_time.iso8601 %>
		    <% else %>
			<%= content_tag :abbr, h(start_time.min == 0 ? start_time.strftime("%b %e @ %l%P") : start_time.strftime("%b %e @ %l:%M%P")), :class => "dtstart", :title => start_time.iso8601 %>
		    <% end %>
		    <% unless end_time.nil? %>
			&ndash;
			<%= content_tag :abbr, h(end_time.min == 0 ? end_time.strftime("%l%P") : end_time.strftime("%l:%M%P")), :class => "dtend", :title => end_time.iso8601 %>
		    <% end %>
		</span>
	    </span>
	</li>
    <% else %>
	<!--
	    not rendering event. end time in the past
	    <%= event.inspect %>
	-->
    <% end %>
<% elsif viewmode == :full %>
    <%
	start_time = Time.parse(event.start_time).getlocal
	if event.end_time.nil?
	    end_time = nil
	else
	    end_time = Time.parse(event.end_time).getlocal
	end
    %>
    <ul class="vevent">
        <li>
	    <span class="comment">
		<%= h(event.event_type) %>
	    </span>
	    <span class="summary">
		<%= h(event.title) %>
	    </span>
	    <span class="timeloc">
		<span class="location">
		    <% parent = DataObject.view("by_path", :startkey => event.parent, :limit => 1, :reduce => false, :include_docs => true) %>
		    <% if parent.length == 1 %>
			<% if parent[0]["couchrest-type"] == "Place" %>
			    <%= link_to h(parent[0]["title"]), country_region_locality_place_path(@country.id, @region.id, @locality.id, parent[0].id) %>
			<% else %>
			    <!--
				PARENT FOR <%= h(event.id) %> IS NOT A PLACE
				<%= parent.inspect %>
			    -->
			<% end %>
		    <% end %>
		</span>
		<span class="time">
		    <% if start_time.day == Time.new.day || start_time.day == (Time.new - 4.hours).day %>
			<%= content_tag :abbr, h(start_time.min == 0 ? start_time.strftime("%l%P") : start_time.strftime("%l:%M%P")), :class => "dtstart", :title => start_time.iso8601 %>
		    <% elsif start_time < 1.week.from_now %>
			<%= content_tag :abbr, h(start_time.min == 0 ? start_time.strftime("%a @ %l%P") : start_time.strftime("%a @ %l:%M%P")), :class => "dtstart", :title => start_time.iso8601 %>
		    <% else %>
			<%= content_tag :abbr, h(start_time.min == 0 ? start_time.strftime("%b %e @ %l%P") : start_time.strftime("%b %e @ %l:%M%P")), :class => "dtstart", :title => start_time.iso8601 %>
		    <% end %>
		    <% unless end_time.nil? %>
			&ndash;
			<%= content_tag :abbr, h(end_time.min == 0 ? end_time.strftime("%l%P") : end_time.strftime("%l:%M%P")), :class => "dtend", :title => end_time.iso8601 %>
		    <% end %>
		</span>
	    </span>
	</li>
	<% unless @place.nil? %>
	    <li class="actions">
		<% if @place.phone_number.nil? %>
		    <span class="action"><a href="tel:<%= h(@place.phone_number) %>" class="tel noeffect"><span><%= h(@place.phone_number) %></span></a></span>
		<% end %>
		<span class="action">
		    <% link_to "http://maps.google.com/maps?t=m&q=#{@place.address}, #{@locality.title}, #{@region.abbreviation}, #{@country.abbreviation} (#{@place.title})", :class => "map noeffect", :target => "_blank" do %>
			<span><%= h("#{@place.address}, #{@locality.title}, #{@region.abbreviation}, #{@country.abbreviation} (#{@place.title})") %></span>
		    <% end %>
		</span>
		<span class="action">
		    <% link_to country_region_locality_place_path(@country.id, @region.id, @locality.id, @place.id, :class => "calendar") do %>
			<span>Calendar</span>
		    <% end %>
		</span>
	    </li>
	<% end %>
	<li id="info">
	    <%= event.description.nil? ? "<em>No description</em>" : h(event.description) %>
	</li>
    </ul>
<% end %>
