<% if @errors %>
    <div class="msg msg-error">
	<strong>Errors were found with your entry:</strong>
	<ul>
	    <% @event.errors.full_messages.each do |e| %>
		<li><%=h e %></li>
	    <% end %>
	</ul>
    </div>
<% end %>

<% if [:new, :create].include?(params[:action].to_sym) %>
    <p>
	<%= label_tag "event[place_id]", "Place" %>
	<%= select_tag "event[place_id]", options_for_select(@places.collect { |p| ["#{p.title} (#{p.address})", p.id] }) %>
    </p>
<% end %>
<p>
    <%= label_tag "event[title]", "Happening" %>
    <%= text_field_tag "event[title]", @event.title, :size => 40 %>
</p>
<p>
    <%= label_tag "event[description]", "Description" %>
    <%= text_field_tag "event[description]", @event.description, :size => 60 %>
</p>
<p>
    <%= label_tag "event[event_type]", "Event type" %>
    <%= select_tag "event[event_type]", options_for_select([	"Drink Special",
								"Food and Drink Special",
								"Food Special",
								"Entertainment",
								"Featured",
								"Event"
    ].sort) %>
</p>
<p>
    <%= label_tag "event[start_time]", "Start time" %>
    <%= calendar_date_select_tag "event[start_time]", @event.start_time, :time => true %>
</p>
<p>
    <%= label_tag "event[end_time]", "End time" %>
    <%= calendar_date_select_tag "event[end_time]", @event.end_time, :time => true %> optional
</p>
<p>
    <%= label_tag "event[recurrence]", "Recurrence" %>
    <%= select_tag "event[recurrence]", options_for_select([ ["None", "none"], ["Weekly", "weekly"], ["Monthly (Same Date)", "monthly"], ["Monthly (1st Xday, 2nd Xday, etc.)", "monthly_nth_nday" ], ["Yearly", "yearly"]], @event.recurrence) %>
</p>
<p>
    <%= submit_tag "Submit" %>
</p>