<% viewmode = :compact if local_assigns[:viewmode].nil? %>

<% if viewmode == :compact %>
	<% if city.class == Category %>
		<li<%= ' class="#{css_class}"' if local_assigns[:css_class] %>><%= link_to city.name, country_state_city_path(@country.url_part, @state.url_part, city.url_part) %></li>
	<% elsif city.class == City %>
		<li<%= ' class="#{css_class}"' if local_assigns[:css_class] %>><%= link_to city.name, country_state_city_path(@country.url_part, @state.url_part, city.category.url_part) %></li>
	<% end %>
<% elsif viewmode == :full %>
	<% content_module h(city.name), { :altbox => true, :box_size => 100, :text => true } do %>
	    <% if city.description %>
		<%= simple_format h(city.description) %>
	    <% else %>
		<p><%=h city.name %> has no description entered yet! <%= link_to "Enter one now!", edit_country_state_city_path(@country.url_part, @state.url_part, city.category.url_part) %>
	    <% end %>
	<% end %>
	<% content_module "Upcoming Events", { :box_size => 50 } do %>
	    <ol class="feed">
		<% city.upcoming_events[0..9].each do |event| %>
		    <%= render :partial => "events/event", :object => event, :locals => { :css_class => cycle("odd", "even") } %>
		<% end %>
	    </ol>
	    <%= link_to "View All Events", country_state_city_events_path(params[:country_id], params[:state_id], params[:id]) %>
	<% end %>
	<% content_module "Interesting Places", { :box_size => 50 } do %>
	    <ul class="feed">
		<%= render :partial => "places/place", :collection => city.get_10_random_places %>
	    </ul>
	    <%= link_to "View All Places", country_state_city_places_path(params[:country_id], params[:state_id], params[:id]) %>
	<% end %>
<% end %>
