<% viewmode = :compact if local_assigns[:viewmode].nil? %>

<% if viewmode == :compact %>
	<% if city.class == Category %>
		<li<%= ' class="#{css_class}"' if local_assigns[:css_class] %>><%= link_to city.name, country_state_city_path(@country.url_part, @state.url_part, city.url_part) %></li>
	<% elsif city.class == City %>
		<li<%= ' class="#{css_class}"' if local_assigns[:css_class] %>><%= link_to city.name, country_state_city_path(@country.url_part, @state.url_part, city.category.url_part) %></li>
	<% end %>
<% elsif viewmode == :full %>
	<% content_module h(city.name), { :altbox => true, :box_size => 100, :text => true } do %>
	    <% if city.description %>
		<%= simple_format h(city.description) %>
	    <% else %>
		<p><%=h city.name %> has no description entered yet! <%= link_to "Enter one now!", edit_country_state_city_path(@country.url_part, @state.url_part, city.category.url_part) %>
	    <% end %>
	    <p>
		A Facebook wall-style feed will go here.
	    </p>
	<% end %>
	<% content_module "Happenings", {
		:box_size => 50,
		:buttons => [
		    ["+ add happening", new_country_state_city_event_path(params[:country_id], params[:state_id], params[:id]), "green"]
		],
		:tabs => [
		    [image_tag("icons/small/silk/house.png", :alt => "Home", :title => "Home"), "#", "active"],
		    ["Friends", "#"],
		    ["All", "#"]
		]
	} do %>
	    <% if city.upcoming_events.nil? || city.upcoming_events.size == 0 %>
		<p class="text">There are no upcoming events in this city.</p>
	    <% else %>
		<ol class="feed">
		    <% city.upcoming_events[0..9].each do |event| %>
			<%= render :partial => "events/event", :object => event, :locals => { :css_class => cycle("odd", "even") } %>
		    <% end %>
		</ol>
	    <% end %>
	<% end %>
	<% content_module "Interesting Places", { :box_size => 50, :buttons => [ ["view all &raquo;", country_state_city_places_path(params[:country_id], params[:state_id], params[:id]) ] ] } do %>
	    <% if city.get_10_random_places.nil? || city.get_10_random_places.size == 0 %>
		<p class="text">There are no places in this city.</p>
	    <% else %>
		<ul class="feed">
		    <% city.get_10_random_places.each do |place| %>
			<%= render :partial => "places/place", :object => place, :locals => { :css_class => cycle("odd", "even") } %>
		    <% end %>
		</ul>
	    <% end %>
	<% end %>
<% end %>
