<div class="box <%= "box-#{box_size}" %> <%= "altbox" if local_assigns[:altbox] %>">
	<div class="boxin">
		<div class="header">
			<h3><%= title %></h3>
		</div>
		<div class="content">
			<%= '<div class="text">' if local_assigns[:text] %>
			    <%= body %>
			<%= '</div>' if local_assigns[:text] %>
		</div>
	</div>
</div>
