<div class="box <%= "box-#{box_size}" %> <%= "altbox" if local_assigns[:altbox] %>">
	<div class="boxin">
		<div class="header">
			<h3><%= title %></h3>
			<% if local_assigns[:buttons] %>
			    <% buttons.each do |button| %>
				<% if button[2] %>
				    <%= link_to button[0], button[1], :class => "button #{button[2]}" %>
				<% else %>
				    <%= link_to button[0], button[1], :class => "button" %>
				<% end %>
			    <% end %>
			<% end %>
		</div>
		<div class="content">
			<%= '<div class="text">' if local_assigns[:text] %>
			    <%= body %>
			<%= '</div>' if local_assigns[:text] %>
		</div>
	</div>
</div>
