<div class="module">
	<h2><%= title %></h2>
	<% if !local_assigns[:caption].nil? || !local_assigns[:controls].nil? %>
		<div class="module-top">
			<div class="caption">
				<p>
					<% if local_assigns[:caption] %>
						<%= caption %>
					<% end %>
				</p>
			</div>
			<div class="controls">
				<p>
					<% if local_assigns[:controls] %>
						<%= controls %>
					<% end %>
				</p>
			</div>
		</div>
	<% end %>
	<div class="module-content">
		<% if local_assigns[:raw_content] %>
			<%= raw_content %>
		<% else %>
			<%= render :partial => content %>
		<% end %>
	</div>
</div>
