<% form_for @place do |f| %>
	<%= f.label :title, "Place Name" %>
	<%= f.text_field :title %><br />
	
	<% fields_for :place_metadata do |meta| %>
		<%= meta.label :address %>
		<%= meta.text_field :address %>
		<%= meta.label :zip %>
		<%= meta.text_field :zip, :size => 5 %>
	<% end %>

	<%# Only show the advanced fields if they're editing %>
	<% if [:edit, :update].include? params[:action].to_sym %>
		<p>
			<%= f.label :description %><br />
			<%= f.text_area :description %>
		</p>
		
		<% fields_for :place_metadata do |meta| %>
			<p><%= meta.label :phone_number %> <%= meta.text_field :phone_number %></p>
			<p><%= meta.label :website %> <%= meta.text_field :website %></p>
		<% end %>
	<% end %>
<% end %>
