<% viewmode = :compact if local_assigns[:viewmode].nil? %>

<% if viewmode == :micro %>
    <li class="vcard<%= " #{css_class}" if local_assigns[:css_class] %>"><%= link_to h(place.name), country_state_city_place_path(params[:country_id], params[:state_id], place.parent.url_part, place.uuid), :class => "fn org" %></li>
<% elsif viewmode == :compact %>
    <li class="vcard <%= cycle("odd", "even") %>">
	<% link_to(country_region_locality_place_path(country.id, region.id, locality.id, place.id)) do %>
	    <span class="comment">
		<%= place.fare.join(", ") %>
	    </span>
	    <span class="fn org">
		<%= h(place.title) %>
	    </span>
	    <span class="adr">
		<%= content_tag :span, h(place.address), :class => "street-address" %>
	    </span>
	<% end %>
    </li>
<% elsif viewmode == :full %>
    <ul class="vcard">
        <li>
	    <span class="comment">
		<%= place.fare.join(", ") %>
	    </span>
	    <span class="fn org">
		<%= h(place.title) %>
	    </span>
	    <span class="adr">
		<%= content_tag :span, h(place.address), :class => "street-address" %>
	    </span>
	</li>
	<li class="actions">
	    <% unless place.description.nil? %>
		<span class="action">
		    <a href="#info" class="info noeffect"><span>Information</span></a>
		</span>
	    <% end %>
	    <% unless place.phone_number.nil? %>
		<span class="action"><a href="tel:<%= h(place.phone_number) %>" class="tel noeffect"><span><%= h(place.phone_number) %></span></a></span>
	    <% end %>
	    <% unless place.url.nil? %>
		<span class="action">
		    <% if place.url =~ /^http/ %>
			<% link_to place.url, :class => "url noeffect" do %>
			    <span><%= h(place.url) %></span>
			 <% end %>
		    <% else %>
			<% link_to "http://#{place.url}", :class => "url noeffect" do %>
			    <span><%= h(place.url) %></span>
			<% end %>
		    <% end %>
		</span>
	    <% end %>
	    <span class="action">
		<% link_to "http://maps.google.com/maps?t=m&q=#{place.address}, #{locality.title}, #{region.abbreviation}, #{country.abbreviation} (#{place.title})", :class => "map noeffect" do %>
		    <span><%= h("#{place.address}, #{locality.title}, #{region.abbreviation}, #{country.abbreviation} (#{place.title})") %></span>
		<% end %>
	    </span>
	</li>
	<li id="info" style="display: none;">
	    <%=h place.description %>
	</li>
    </ul>
<% end %>
