<% viewmode = :compact if local_assigns[:viewmode].nil? %>

<% if viewmode == :micro %>
    <li class="vcard<%= " #{css_class}" if local_assigns[:css_class] %>"><%= link_to h(place.name), country_state_city_place_path(params[:country_id], params[:state_id], place.parent.url_part, place.uuid), :class => "fn org" %></li>
<% elsif viewmode == :compact %>
    <li class="vcard <%= cycle("odd", "even") %>">
	<% link_to(country_region_locality_place_path(country.id, region.id, locality.id, place.id)) do %>
	    <span class="comment">
		<%= place.fare.join(", ") %>
	    </span>
	    <span class="fn org">
		<%= h(place.title) %>
	    </span>
	    <span class="adr">
		<%= content_tag :span, h(place.address), :class => "street-address" %>
	    </span>
	<% end %>
    </li>
<% elsif viewmode == :full %>
    <ul>
        <li class="vcard <%= cycle("odd", "even") %>">
	    <span class="comment">
		<%= place.fare.join(", ") %>
	    </span>
	    <span class="fn org">
		<%= h(place.title) %>
	    </span>
	    <span class="adr">
		<%= content_tag :span, h(place.address), :class => "street-address" %>
	    </span>
	</li>
    </ul>
<% end %>
