<% viewmode = :compact if local_assigns[:viewmode].nil? %>
<% events = [] if local_assigns[:events].nil? %>

<% if viewmode == :micro %>
    <li class="vcard<%= " #{css_class}" if local_assigns[:css_class] %>"><%= link_to h(place.name), country_state_city_place_path(params[:country_id], params[:state_id], place.parent.url_part, place.uuid), :class => "fn org" %></li>
<% elsif viewmode == :compact %>
    <li class="vcard <%= cycle("odd", "even") %>">
	<% if !place.foursquare_venue_id.nil? && !place.tips.nil? %>
	    <span class="count"><%= place.tips.length %></span>
	<% end %>
	<span class="comment">
	    <%
		fare_links = place.fare.sort.collect do |fare|
		    link_to fare, country_region_locality_places_path(country.id, region.id, locality.id, :fare => fare, :neighborhood => params[:neighborhood])
		end
	    %>
	    <%= fare_links.join(", ") %>
	    <span class="filtericon"></span>
	</span>
	<% link_to(country_region_locality_place_path(country.id, region.id, locality.id, place.id, :fare => params[:fare], :neighborhood => params[:neighborhood], :q => params[:q])) do %>
	    <span class="fn org">
		<%= h(place.title) %>
	    </span>
	<% end %>
	<span class="adr">
	    <% neighborhood = Neighborhood.view("by_path", :startkey => place.parent, :limit => 1, :reduce => false, :include_docs => true) %>
	    <% if neighborhood.length == 1 %>
		<%= link_to h(neighborhood[0]["title"]), country_region_locality_places_path(country.id, region.id, locality.id, :neighborhood => neighborhood[0]["_id"], :fare => params[:fare]) %>
	    <% else %>
		<%= h locality.title %>
	    <% end %>
	    <span class="filtericon"></span>
	</span>
    </li>
<% elsif viewmode == :full %>
    <ul class="vcard">
        <li>
	    <span class="comment">
		<%= place.fare.join(", ") %>
	    </span>
	    <span class="fn org">
		<%= h(place.title) %>
	    </span>
	    <span class="adr">
		<%= content_tag :span, h(place.address), :class => "street-address" %>
	    </span>
	</li>
	<li class="actions">
	    <% unless place.phone_number.nil? %>
		<span class="action"><a href="tel:<%= h(place.phone_number) %>" class="tel noeffect"><span><%= h(place.phone_number) %></span></a></span>
	    <% end %>
	    <% unless place.url.nil? %>
		<span class="action">
		    <% if place.url =~ /^http/ %>
			<% link_to place.url, :class => "url noeffect", :target => "_blank" do %>
			    <span><%= h(place.url) %></span>
			 <% end %>
		    <% else %>
			<% link_to "http://#{place.url}", :class => "url noeffect", :target => "_blank" do %>
			    <span><%= h(place.url) %></span>
			<% end %>
		    <% end %>
		</span>
	    <% end %>
	    <span class="action">
		<% link_to "http://maps.google.com/maps?t=m&q=#{place.address}, #{locality.title}, #{region.abbreviation}, #{country.abbreviation} (#{place.title})", :class => "map noeffect", :target => "_blank" do %>
		    <span><%= h("#{place.address}, #{locality.title}, #{region.abbreviation}, #{country.abbreviation} (#{place.title})") %></span>
		<% end %>
	    </span>
	    <% unless place.bitly_hash.nil? %>
		<span class="action">
		    <%= mail_to "", "<span>Share</span>", :subject => "Check out this place", :body => "#{place.title} at #{place.address}, #{locality.title}, #{region.abbreviation}, #{country.abbreviation} - http://rnapk.in/#{place.bitly_hash}", :class => "share" %>
		</span>
	    <% end %>
	</li>
	<li id="info" style="display: none;">
	    <%=h place.description %>
	</li>
	<li class="tab-buttons">
	    <div id="duobutton">
		<div class="links">
		    <%= link_to "Tips", country_region_locality_place_path(params[:country_id], params[:region_id], params[:locality_id], params[:id].nil? ? params[:place_id] : params[:id], :fare => params[:fare], :neighborhood => params[:neighborhood], :q => params[:q]), :id => @events.nil? ? "pressed" : nil %>
		    <%= link_to "Happenings", country_region_locality_place_events_path(params[:country_id], params[:region_id], params[:locality_id], params[:id].nil? ? params[:place_id] : params[:id], :fare => params[:fare], :neighborhood => params[:neighborhood], :q => params[:q]), :id => @events.nil? ? nil : "pressed"  %>
		</div>
	    </div>
	</li>
	<% if @events.nil? && place.tips && place.tips.length > 0 %>
		<% place.tips.each do |tip| %>
			<li class="small-variable">
				<span class="tip">
					<% if tip[1] && tip[1]["name"] %>
						<span class="tipgiver">
							<% if tip[1]["foursquare_user_id"] %>
								<%= link_to h(tip[1]["name"]), "http://www.foursquare.com/user/#{tip[1]["foursquare_user_id"]}", :target => "_blank", :class => "noeffect" %>:
							<% else %>
								<%=h tip[1]["name"] %>:
							<% end %>
						</span>
					<% end %>

					<%=h tip[0] %>
				</span>
			</li>
		<% end %>
	<% elsif @events.nil? && ((place.tips && place.tips.length == 0) || !place.tips) %>
	    <li class="small-variable">
		<span class="stdtext">
		    <% if place.foursquare_venue_id.nil? %>
			This place is not associated with Foursquare and has no tips.
		    <% else %>
			This place has no tips on its
			<%= link_to "Foursquare page", "http://www.foursquare.com/venue/#{place.foursquare_venue_id}" %>.
		    <% end %>
		</span>
	    </li>
	<% end %>
	<% if !@events.nil? %>
	    <% if @events.length == 0 %>
		<li class="small-variable">
		    <span class="stdtext">There are no happenings at this place.</span>
		</li>
	    <% else %>
		<%= render :partial => "events/event", :collection => events, :locals => { :country => country, :region => region, :locality => locality, :place => place, :place_page => true } %>
	    <% end %>
	<% end %>
    </ul>
<% end %>
