<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"<%= @locality.nil? ? nil : " class='locality-#{@locality.id}'" %>>
    <head>
	<meta name="DC.title" content="RestlessNapkin" />
	<meta name="DC.creator" content="RestlessNapkin" />
	<meta name="DC.language" content="en-US" />

	<!-- OpenGraph Metadata -->
	<meta property="og:title" content="<%=
	    if (@page_title.nil? || @page_title.blank?) && (@page_title_long.nil? || @page_title_long.blank?)
		"RestlessNapkin"
	    elsif !@page_title_long.nil?
		h(@page_title_long)
	    else
		h(@page_title)
	    end
	%>" />
	<meta property="og:image" content="<%= image_path "desktop_logo.png" %>" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />

	<%= stylesheet_link_tag "mobile", "mobile.restnap" %>
	<%= stylesheet_link_tag "mobile.lowres", :media => "screen and (max-width: 320px)" %>
	<%= stylesheet_link_tag "mobile.hires", :media => "screen and (min-width: 321px)" %>
	<%= stylesheet_link_tag "mobile.desktop", :media => "screen and (min-width: 961px)" %>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
	<%= javascript_include_tag "mobile" %>
	<%= javascript_include_tag "jquery.geolocation" %>
	
	<title>
	    <% if (@page_title.nil? || @page_title.blank?) && (@page_title_long.nil? || @page_title_long.blank?) %>
		RestlessNapkin
	    <% elsif !@page_title_long.nil? %>
		<%=h @page_title_long %>
	    <% else %>
		<%=h @page_title %>
	    <% end %>
	</title>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-172892-8']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type =
	'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
	'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
	  })();
	   var GoSquared={};
	   GoSquared.acct = "GSN-119262-E";
	   (function(w){
	       function gs(){
		   w._gstc_lt=+(new Date); var d=document;
		   var g = d.createElement("script"); g.type =
	"text/javascript"; g.async = true; g.src =
	"//d1l6p2sc9645hc.cloudfront.net/tracker.js";
		   var s = d.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(g, s);
	       }
	       w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
	   })(window);
	</script>
    </head>

    <body class="feed">

	<div id="topbar" class="black">
	    <div id="title"><%= @page_title.nil? ? "The Restless Napkin" : h(@page_title) %></div>
	    <% if @back_button && @back_button.respond_to?(:"[]") %>
		<div id="leftnav">
		    <%= link_to @back_button[0], @back_button[1] %>
		</div>
	    <% end %>
	    <% if @button && @button.respond_to?(:"[]") %>
		<div id="rightbutton">
		    <%= link_to @button[0], @button[1] %>
		</div>
	    <% end %>
	</div>

	<% if @tab_buttons && @tab_buttons.length == 2 %>
	    <div id="duobutton">
		<div class="links">
		    <% @tab_buttons.each do |btn| %>
			<%= link_to btn[0], btn[1], :id => btn[2].nil? ? nil : btn[2] %>
		    <% end %>
		</div>
	    </div>
	<% elsif @tab_buttons && @tab_buttons.length == 3 %>
	    <div id="tributton">
		<div class="links">
		    <% @tab_buttons.each do |btn| %>
			<%= link_to btn[0], btn[1], :id => btn[2].nil? ? nil : btn[2] %>
		    <% end %>
		</div>
	    </div>
	<% end %>

	<%= yield :before_content %>

	<div id="content">
	    <%= yield %>
	</div>

	<div id="footer">
	    RestlessNapkin Jan 2011 "rn &lt;3s 4sq"
	    <a id="restlessnapkin-logo" href="http://www.restlessnapkin.com/"><span>RestlessNapkin</span></a>
	</div>

	<div id="desktop-sidebar-left" class="desktop-sidebar">
	    <a href="/" class="logo"><span>RestlessNapkin</span></a>
	    <% if @country && @region && @locality && @neighborhoods && !params[:q] %>
		<div>
		    <h1>Neighborhoods</h1>
		    <ul>
			<% @neighborhoods.each do |n| %>
			    <% if !n.is_a?(Array) %>
				<li><%= link_to h(n.title), country_region_locality_places_path(@country, @region, @locality, :neighborhood => n.id, :fare => params[:fare]) %></li>
			    <% elsif n.is_a?(Array) %>
				<li>
				    <%= link_to h(n[0]), country_region_locality_events_path(@country, @region, @locality, :neighborhood => n[1], :event_type => params[:event_type]) %>
				</li>
			    <% end %>
			<% end %>
		    </ul>
		</div>
	    <% end %>
	    <div class="newsletter"><a href="http://eepurl.com/Qj0H" target="_blank"><span>Sign up for our newsletter!</span></a></div>
	    <div class="blog"><a href="http://restlessnapkin.posterous.com/" target="_blank"><span>RestlessNapkin blog</span></a></div>
	    <% if @locality && @locality.id == "bfff92eb-d35c-4df3-ae8f-01e68c3f8fc6" %>
		<div class="dim">
		    <span class="dim"><a href="http://www.flickr.com/photos/visualistimages/4648808960/" target="_blank" class="noeffect">Background image source</a></span>
		</div>
	    <% end %>
	</div>
	<div id="desktop-sidebar-right" class="desktop-sidebar">
	    <% if @country && @region && @locality && @fares && !params[:q] %>
		<div>
		    <h1>Fares</h1>
		    <ul>
			<% @fares.each do |f| %>
			    <% unless (f['key'][-1] =~ /^[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}$/) %>
				<li>
				    <%= link_to h(f['key'][-1]),
					country_region_locality_places_path(@country, @region, @locality, :neighborhood => params[:neighborhood], :fare => f['key'][-1])
				    %>
				    <span class="dim">(<%= h(f['value']) %>)</span>
				</li>
			    <% end %>
			<% end %>
		    </ul>
		</div>
	    <% end %>
	    <% if @country && @region && @locality && @event_types && !params[:q] %>
		<div>
		    <h1>Happening Types</h1>
		    <ul>
			<% @event_types.each do |et| %>
			    <% unless (et['key'][-1] =~ /^[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}$/) %>
				<li>
				    <%= link_to h(et['key'][-1]),
					country_region_locality_events_path(@country, @region, @locality, :neighborhood => params[:neighborhood], :event_type => et['key'][-1])
				    %>
				</li>
			    <% end %>
			<% end %>
		    </ul>
		</div>
	    <% end %>
	</div>

<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("28i1v-20q6622y47");
} catch(err) {}
</script>

    </body>

</html>
