<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
	<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" />

	<%= stylesheet_link_tag "mobile", "mobile.feeds" %>
	<%= stylesheet_link_tag "mobile.lowres", :media => "screen and (max-width: 320px)" %>
	<%= stylesheet_link_tag "mobile.hires", :media => "screen and (min-width: 321px)" %>
	<%= javascript_include_tag "mobile" %>

	<title>The Restless Napkin <%= @page_title.nil? ? nil : h(": #{@page_title}") %></title>
    </head>

    <body class="feed">
	<header>
	    <h1><%= @page_title.nil? ? "The Restless Napkin" : h(@page_title) %></h1>
	    <div id="rightbutton">
		<a href="placefeed.html">Places</a>
	    </div>
	</header>

	<section>
	    <%= yield %>
	</section>

	<footer>
	    <a href="http://www.macrodeck.com/" class="noeffect">powered by MacroDeck</a>
	</footer>
    </body>
</html>
