<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"<%= @locality.nil? ? nil : " class='locality-#{@locality.id}'" %>>
    <head>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />

	<%= stylesheet_link_tag "mobile", "mobile.restnap" %>
	<%= stylesheet_link_tag "mobile.lowres", :media => "screen and (max-width: 320px)" %>
	<%= stylesheet_link_tag "mobile.hires", :media => "screen and (min-width: 321px)" %>
	<%= stylesheet_link_tag "mobile.desktop", :media => "screen and (min-width: 961px)" %>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
	<%= javascript_include_tag "mobile" %>
	<title>
	    <% if (@page_title.nil? || @page_title.blank?) && (@page_title_long.nil? || @page_title_long.blank?) %>
		restless napkin
	    <% elsif !@page_title_long.nil? %>
		<%=h @page_title_long %>
	    <% else %>
		<%=h @page_title %>
	    <% end %>
	</title>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-172892-8']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type =
	'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
	'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
	  })();

	</script>
    </head>

    <body class="feed">

	<div id="topbar" class="black">
	    <div id="title"><%= @page_title.nil? ? "The Restless Napkin" : h(@page_title) %></div>
	    <% if @back_button && @back_button.respond_to?(:"[]") %>
		<div id="leftnav">
		    <%= link_to @back_button[0], @back_button[1] %>
		</div>
	    <% end %>
	    <% if @button && @button.respond_to?(:"[]") %>
		<div id="rightbutton">
		    <%= link_to @button[0], @button[1] %>
		</div>
	    <% end %>
	</div>

	<div id="content">
	    <%= yield %>
	</div>

	<div id="footer">
	    RestNapDev Oct 10 "Shine and Polish". <a class="noeffect" href="http://www.macrodeck.com/">Powered by MacroDeck</a><br />
	    <em>Report issues with the beta to <%= mail_to "keith@restlessnapkin.com" %>.</em>
	</div>

	<div id="desktopsidebar">
	    <div class="logo"></div>
	</div>

<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("28i1v-20q6622y47");
} catch(err) {}
</script>

    </body>

</html>
